%p#notice= notice

%p
  %b Name:
  = @survey.name

%ol
  -for question in @survey.questions
    %li= h question.content

    %ul
      -for answer in question.answers
        %li= h answer.content
      

= link_to 'Edit', edit_survey_path(@survey)
\|
= link_to 'Back', surveys_path
